Repository keyboardio/Chrysalis, pull requests merged in 2019-03, with the labels that each got.

#343 Editor: Don't touch the colormap when we're out of bounds
  src/renderer/screens/Editor.js
  src/renderer/screens/Editor/Palette.js
Labels: bug, pending, screen: editor

#347 Add 0.5.0 NEWS and update the screenshot
  NEWS.md
  data/screenshot.png
Labels: enhancement, pending

#345 Editor: Handle the corner case of no custom keymap better
  package.json
  src/renderer/screens/Editor.js
  yarn.lock
Labels: bug, pending, screen: editor

#344 Welcome: Update the description of reconnect
  src/renderer/i18n/en.js
  src/renderer/i18n/hu.js
Labels: bug, pending

#331 Editor: Initial layer export/import support
  src/renderer/i18n/en.js
  src/renderer/i18n/hu.js
  src/renderer/screens/Editor.js
Labels: enhancement, help wanted, pending, screen: editor

#355 Initial Dark mode support
  src/renderer/App.js
  src/renderer/i18n/en.js
  src/renderer/i18n/hu.js
  src/renderer/screens/Preferences.js
  src/styles/darkTheme.js
  src/styles/lightTheme.js
Labels: enhancement

#356 Editor: Fix editing the colormap on layer 0
  src/renderer/screens/Editor.js
Labels: bug, pending, screen: editor

#358 Reorganize Editor components and pull out Dialog components to their own files
  src/renderer/App.js
  src/renderer/screens/Editor/CopyFromDialog.js
  src/renderer/screens/Editor/Editor.js
  src/renderer/screens/Editor/ImportExportDialog.js
  src/renderer/screens/Editor/index.js
Labels: enhancement, screen: editor

#359 Add copy/paste buttons on import/export modal
  package.json
  src/renderer/i18n/en.js
  src/renderer/i18n/hu.js
  src/renderer/screens/Editor/ImportExportDialog.js
  yarn.lock
Labels: enhancement, pending, screen: editor

#366 Add buttons to load defaults
  .eslintrc.js
  package.json
  src/renderer/components/KeySelector/KeySelector.js
  src/renderer/components/KeySelector/index.js
  src/renderer/i18n/en.js
  src/renderer/i18n/hu.js
  src/renderer/screens/Editor/Editor.js
  src/renderer/screens/Editor/ImportExportDialog/ImportExportDialog.js
  src/renderer/screens/Editor/ImportExportDialog/LoadDefaultKeymap.js
  src/renderer/screens/Editor/ImportExportDialog/index.js
  static/Keyboardio/Model01/colemak.json
  static/Keyboardio/Model01/dvorak.json
  static/Keyboardio/Model01/qwerty.json
  yarn.lock
Labels: enhancement, screen: editor

#370 Add electron-window-state
  package.json
  src/main/index.js
  yarn.lock
Labels: enhancement
